<h1>Python and MySQL</h1>

<h2>First import the python module containing the API</h2>

In [31]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\umut\anaconda3\lib\site-packages (0.9.3)

You are using pip version 19.0.3, however version 19.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting umut

  ERROR: Could not find a version that satisfies the requirement umut (from versions: none)
ERROR: No matching distribution found for umut

In [38]:
!pip install --trusted-host pypi.org pymysql

Requirement already satisfied: pymysql in c:\users\umut\anaconda3\lib\site-packages (0.9.3)

In [4]:
import pymysql

<h2>Set up a connection and create a cursor object</h2>

In [7]:
db = pymysql.connect("localhost","root","keg41daf" ,database="schooldb")
cursor = db.cursor()

In [10]:
db

In [11]:
cursor

<h2>Execute a query and get the results</h2>

In [8]:
cursor.execute('show tables;')
cursor.fetchall()

(('course',), ('enrolls_in',), ('student',))

In [24]:
query = """
SELECT course.name, enrolls_in.score FROM student 
INNER JOIN enrolls_in ON student.ssn = enrolls_in.ssn 
INNER JOIN course ON course.number = enrolls_in.class
WHERE f_name = "JOHN";
"""
cursor.execute(query)
result = cursor.fetchall()
result

(('Data analytics', 93.0), ('Python', 95.0))

In [25]:
print("Course Name","Score", sep='\t')
for thing in result:
    print(thing[0], thing[1],  sep='\t')

Course Name	Score
Data analytics	93.0
Python	95.0

In [26]:
query = """insert into student values ("000-11-2322", "bing", "cosby", "231453422", "New York", "10001");"""
cursor.execute(query)

1

In [29]:
query = """select * from student;"""
cursor.execute(query)
cursor.fetchall()

(('000-11-2322', 'bing', 'cosby', '231453422', 'New York', '10001'),
 ('111-22-3333', 'JOHN', 'CHILDS', '6461231212', 'New York', '10025'),
 ('123-12-1234', 'Mary', 'Arias', None, 'New York', '10011'),
 ('222-33-4455', 'Lila', 'Pennington', '4251231212', 'Seattle', '98105'),
 ('555-11-7777', 'Roberto', 'Perez', '9173335479', 'San Francisco', '94110'))

In [30]:
db.commit()